<div class="row">
    <!--Foto-->
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img id="fotoP" src="../../../assets/foto1.jpg" class="img-fluid" alt="perfil">
    </div>
    <!--Nombre y titulo-->
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-3">
        <h3 id="nombre">{{persona.nombre}} {{persona.apellido}}</h3>
        <p id = "titulo">Full Stack Developer Jr</p>
    </div>
    <!--Descripción-->
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7">
        <span class="aboutme">
            <h1>Acerca de mi</h1>
            <p>Me llamo Mariana. Soy estudiante de la carrera Ingeniería en Computación. Me considero una persona 
                proactiva y creativa, mi curiosidad me ha llevado a desarrollar habilidades y obtener 
                conocimientos complementando la educación con el aprendizaje autodidacta. Siempre intentando aprender más 
                y manteniendo una actitud positiva y perseverante frente a cualquier tipo de obstaculo. Mi objetivo 
                es crecer profesionalmente logrando adquirir cada vez más aptitudes y a la vez utilizar la tecnología 
                como herramienta para brindar un servicio a la sociedad.</p>
        </span>
    </div>
</div>