<div class="row">
    <!--Foto-->
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img id="fotoP" src="http://placehold" class="img-fluid" alt="perfil">
    </div>
    <!--Nombre y titulo-->
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Mariana da Vila</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <!--Descripción-->
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic enim animi dignissimos dolores, asperiores atque iste dolor aliquam tempore maxime ipsam eaque accusamus quae deserunt praesentium velit neque provident iusto!</p>
        </span>
    </div>
</div>