<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-11">
        <!--Secundaria-->
        <ul>
            <li><h1>Pasantia en estudio contable "Schelke"</h1> - <h3>(año)</h3></li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad vero magni totam culpa porro accusantium nobis necessitatibus tenetur neque aliquam, veritatis similique incidunt soluta perspiciatis itaque, aspernatur distinctio, beatae odit?</p>
        </ul>
        <!--Inglés-->
        <ul>
            <li><h1>Pasantia en estudio contable "Schelke"</h1> - <h3>(año)</h3></li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad vero magni totam culpa porro accusantium nobis necessitatibus tenetur neque aliquam, veritatis similique incidunt soluta perspiciatis itaque, aspernatur distinctio, beatae odit?</p>
        </ul>
        <!--UNC-->
        <ul>
            <li><h1>Pasantia en estudio contable "Schelke"</h1> - <h3>(año)</h3></li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad vero magni totam culpa porro accusantium nobis necessitatibus tenetur neque aliquam, veritatis similique incidunt soluta perspiciatis itaque, aspernatur distinctio, beatae odit?</p>
        </ul>
    </div>
</div>