<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-10">
        <!--Secundaria-->
        <ul>
            <li><h2>Técnico Medio en Gestión y Administración de Organizaciones </h2></li>
            <p>Escuela Superior de Comercio n° 6 "Mariano Moreno" - Posadas, Misiones, Argentina (2011-2016)</p>
        </ul>
        <!--Inglés-->
        <ul>
            <li><h2>Lengua y Literatura inglesa</h2></li>
            <p>Instituto TS Eliot - Posadas, Misiones, Argentina (2008 - 2016)</p>
        </ul>
        <ul>
            <li><h2>First Certificate of English</h2></li>
            <p>Instituto TS Eliot, University of Cambridge - Posadas, Misiones, Argentina (2016)</p>
        </ul>
        <!--UNC-->
        <ul>
            <li><h2>Ingeniero en computación</h2></li>
            <p>Universidad Nacional de Córdoba - Córdoba, Córdoba, Argentina (2017 - actualidad)</p>
        </ul>
    </div>
</div>