.row{
    padding: 30px;
    background-color: rgba(73, 74, 78, 0.925);
    color: rgb(85, 156, 156);
}

.contenedor{
    width: auto;
}

.texto{
    display: inline-block;
    text-align: justify;
}

.img-proyecto{
    box-shadow: 10px 10px 30px black;
}