<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" alt="Logo Argentina Programa" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href="https://www.linkedin.com/in/mariana-da-vila-29497b245/"><img src="../../../assets/linkedin.png" alt="Logo linkedIn"></a>
                <a href="https://www.instagram.com/mariandv98/"><img src="../../../assets/github.png" alt="Logo github"></a>
                <a href="https://www.facebook.com/mariana.davila.716195/"><img src="../../../assets/instagram.png" alt="Logo instagram"></a>
                <a href="https://github.com/Mariand5"><img src="../../../assets/facebook.png" alt="Logo facebook"></a>
                <button type="button" class="btn btn-outline-light">INGRESO</button>
            </div>
        </div>
    </div>
</div>