.row{
    background-color: rgba(73, 74, 78, 0.925);
    color: rgb(85, 156, 156);
}

footer{
    color: white;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px grey;
}