<div class="row">
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [title]="'HTML'"
            [titleColor]="'#D79451'"
            [titleFontSize]="'50px'"
            [percent]="75"
            [showTitle]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [radius]="100"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#DF7A14'"
            [innerStrokeColor]="'#CC9864'"
            [animation]="true"
            [animationDuration]="600"
>       </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [title]="'CSS'"
            [titleColor]="'#5A709E'"
            [titleFontSize]="'50px'"
            [percent]="65"
            [showTitle]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [radius]="100"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#1C51BE'"
            [innerStrokeColor]="'#8898B7'"
            [animation]="true"
            [animationDuration]="600"
>       </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [title]="'Inglés'"
            [titleColor]="'#78C000'"
            [titleFontSize]="'30px'"
            [percent]="85"
            [showTitle]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [radius]="100"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
>       </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [title]="'Res. de problemas'"
            [titleColor]="'#9E4F4A'"
            [titleFontSize]="'20px'"
            [percent]="80"
            [showTitle]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [radius]="100"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#AF2C24'"
            [innerStrokeColor]="'#A97572'"
            [animation]="true"
            [animationDuration]="600"
>       </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [title]="'Creatividad'"
            [titleColor]="'#429298'"
            [titleFontSize]="'20px'"
            [percent]="70"
            [showTitle]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [radius]="100"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#2CB2BB'"
            [innerStrokeColor]="'#73999C'"
            [animation]="true"
            [animationDuration]="600"
>       </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [title]="'Trab. en equipo'"
            [titleColor]="'#855691'"
            [titleFontSize]="'20px'"
            [percent]="70"
            [showTitle]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [radius]="100"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#9A1FB9'"
            [innerStrokeColor]="'#95749D'"
            [animation]="true"
            [animationDuration]="600"
>       </circle-progress>
    </div>
</div>